.App {
  text-align: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}
body {
  height: 100vh;
  min-height: 100vh;
  padding-bottom: auto;
}

.pl-4 {
  padding-left: 2em;
}
.ptop-3 {
  padding-top: 1em;
}
.pr-4 {
  padding-right: 2em;
}
.pd-4 {
  padding-bottom: 2em;
}

.box-light {
  margin-left: 1.5em;
  margin-right: 1.5em;
  /* background-color: #F2F6FF; */
  border-radius: 10px;
}
.text-left {
  text-align: left;
}

tr:nth-child(even) {
  background-color: #f2f6ff;
}
.trdark:nth-child(even) {
  background-color: #464646;
  color: white;
}

.card {
  border: 1px solid rgb(241, 240, 240);
  padding: 10px;
  box-shadow: 5px 10px 18px rgba(87, 87, 87, 0.1);
}
.navbar {
  box-shadow: 5px 10px 18px rgba(87, 87, 87, 0.1);
}

.mr-auto {
  margin-left: auto;
  margin-right: 1em;
}

.link {
  text-decoration: none;
  color: grey;
}
.pointer {
  cursor: pointer;
}
.pointer:hover {
  background-color: rgb(231, 228, 228);
}
.trdark:hover {
  background-color: #615959;
}
