.App {
  text-align: center;
  height: 100vh;
}
 
.pl-4{
  padding-left: 2em;
}
.ptop-3{
  padding-top: 1em;
}
.pr-4{
  padding-right: 2em;
}
.pd-4{
  padding-bottom: 2em;
}

.box-light{
  margin-left: 1.5em;
  margin-right: 1.5em;
  background-color: rgb(230, 230, 230);
  border-radius: 10px;
}

